.loader {
  @apply w-screen h-screen flex justify-center items-center;
}

.three-body {
  @apply relative inline-block h-[var(--uib-size)] w-[var(--uib-size)] animate-[spin78236_calc(var(--uib-speed)_*_2.5)_infinite_linear];
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
}

.three-body__dot {
  @apply absolute h-full w-[30%];
}

.three-body__dot:after {
  @apply content-[''] absolute h-[0%] w-full bg-[color:var(--uib-color)] pb-[100%] rounded-[50%];
}
.three-body__dot:nth-child(1) {
  @apply rotate-[60deg] origin-[50%_85%] left-0 bottom-[5%];
}

.three-body__dot:nth-child(1)::after {
  @apply animate-[wobble1_var(--uib-speed)_infinite_ease-in-out] left-0 bottom-0;
  animation-delay: calc(var(--uib-speed) * -0.3);
}
.three-body__dot:nth-child(2) {
  @apply rotate-[-60deg] origin-[50%_85%] right-0 bottom-[5%] after:animate-[wobble1_var(--uib-speed)_infinite_calc(var(--uib-speed)_*_-0.15)_ease-in-out] after:left-0 after:bottom-0;
}

.three-body__dot:nth-child(3) {
  @apply bottom-[-5%] translate-x-[116.666%] left-0 after:animate-[wobble2_var(--uib-speed)_infinite_ease-in-out] after:left-0 after:top-0;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

.dashb__container {
  @apply w-full h-full flex gap-x-12 bg-[color:var(--color-off-white)] p-8;
}

.sidebar__container {
  @apply w-4/5 max-w-[280px] h-[880px] flex flex-col items-center relative rounded-[20px];
  background: linear-gradient(180deg, #4285f4 0%, #3c83f9 100%);
}
.sidebar__container .board__logo {
  @apply text-[color:var(--color-white)] mt-16 mb-24 mx-0;
}
.nav__links {
  @apply flex flex-col gap-y-16;
}
.nav__links li a {
  @apply text-[color:var(--color-white)] text-[length:var(--fs-m)] tracking-[1px] hover:underline;
  font-family: var(--ff-mont);
}
.nav__links li a.active {
  @apply font-bold;
}
.nav__links li a i {
  @apply mr-5;
}
.sidebar__footer {
  @apply absolute flex flex-col gap-y-4 left-[20%] bottom-[5%];
}
.sidebar__footer a {
  @apply text-[color:var(--color-white)] hover:underline;
}

.main__dashboard__container {
  @apply w-full h-full;
}
.dash__header__bar {
  @apply h-8 flex justify-between items-center p-8;
}
.dahsboard {
  @apply font-bold text-[length:var(--fs-l)];
  font-family: var(--ff-mont);
}
.search__box {
  @apply relative;
}
.search__bar {
  @apply w-[197px] h-8 bg-[color:var(--color-white)] px-3 py-2.5 rounded-lg border-[none] focus:border focus:border-[color:var(--text-light-dark)] focus:border-solid;
  outline: none;
}
.search__box i {
  @apply absolute text-[color:var(--text-light-dark)] right-[6%] top-1/4;
}
.header__right {
  @apply flex gap-x-6;
}
.bell__icon {
  @apply bg-transparent text-[length:var(--fs-m)] font-medium border-[none];
}
.profile__icon {
  @apply w-[30px] h-[30px] cursor-pointer relative rounded-[50%] hover:border-[color:var(--text-light-dark)] hover:border-2 hover:border-solid;

}
.profile__icon img {
  @apply rounded-[31px];
}
.profile__dropdown {
  @apply absolute bg-[color:var(--color-white)] shadow-[3px_4px_11px_0px_#62626226] hidden flex-col gap-y-4 text-center px-8 py-4 rounded-[10px] rounded-[20px] border-[3px] border-solid border-[#e0e0e0] -right-3.5 top-[26px];
}
.profile__dropdown button {
  @apply bg-transparent cursor-pointer border-[none];
  outline: none;
}
.profile__dropdown li {
  @apply w-full px-1.5 py-1 hover:bg-[color:var(--color-dark-shade)];
}
.profile__icon img,
.profile__icon:hover .profile__dropdown {
  @apply flex;
}
.dash__header {
  @apply flex gap-x-2.5;
}
.menu__toggle {
  @apply bg-transparent text-lg font-semibold hidden border-[none];
  outline: none;
}

.coins__card__container {
  @apply w-full flex gap-8 flex-wrap justify-center mx-0 my-4 p-4;
}
.card__wrapper {
  @apply w-[23.7rem] h-48 shadow-[3px_4px_11px_0px_#62626226] flex flex-col justify-between px-8 py-4 rounded-[20px] border-[3px] border-solid border-[#e0e0e0];
}
.coin__img {
  @apply w-[31px] h-[31px] overflow-hidden rounded-[50%];
}
.price__status {
  @apply flex justify-between;
}
.price__status h6 {
  font-family: var(--ff-lato);
}
.status__positive {
  @apply w-[47px] h-6 bg-[#e9f9eb] text-[#4AD15F] text-[length:var(--fs-xs)] text-center leading-6 rounded-[34px];
}
.status__negative {
  @apply w-[47px] h-6 text-[length:var(--fs-xs)] text-center leading-6 text-[#d14a4a] bg-[#f9e9eb] rounded-[34px];
}

.chart__container {
  @apply shadow-[3px_4px_11px_0px_#62626226] mx-8 my-4 px-8 py-4 rounded-[20px] border-[3px] border-solid border-[#e0e0e0];
  font-family: var(--ff-mont);
}
.chart-box {
  @apply w-full min-h-[340px];
}
.last__updated {
  @apply text-[length:var(--fs-xs)] text-[color:var(--text-light-dark)] mx-0 my-2;
}

.pie__chart {
  @apply w-6/12 max-w-[480px] shadow-[3px_4px_11px_0px_#62626226] px-8 py-4 rounded-[20px] border-[3px] border-solid border-[#e0e0e0];
}
.pie__chart__box {
  @apply w-full min-h-[200px];
}

.pie__profile__container {
  @apply w-[90%] flex justify-center items-center gap-8 mx-8 my-0;

}
.profile__container {
  @apply w-6/12 max-w-[580px] h-64 shadow-[3px_4px_11px_0px_#62626226] px-8 py-4 rounded-[20px] border-[3px] border-solid border-[#e0e0e0];
}
.add__profile {
  @apply w-full h-full cursor-pointer flex justify-center items-center;
}
.add__btn {
  @apply text-[length:var(--fs-vl)] font-light text-[color:var(--text-light-dark)];
}

.user__profile {
  @apply w-full h-full flex flex-col justify-between p-4;
}
.user__profile h3 {
  @apply mx-4 my-8;
}
.profile__links {
  @apply w-full grid grid-cols-[1fr_1fr] justify-between gap-8 text-[length:var(--fs-s)] mx-0 my-auto;
  font-family: var(--ff-poppins);
}
.profile__link .profile__link__btn {
  @apply w-7 h-7 leading-7 text-center bg-[#E9F9EB] text-[#3cc952] text-[length:var(--fs-xs)] mr-4 rounded-[50%] border-[none];
  outline: none;
}
.profile__link .profile__social__btn {
  @apply bg-[#FFE9EC] text-[#FF4E64];
}
.profile__link a {
  @apply text-[color:var(--color-dark)] underline text-[length:var(--fs-xs)];
}
.profile__form__modal {
  @apply w-screen h-screen hidden justify-center items-center absolute bg-[#2827278e] bottom-0 inset-x-0;
}
.profile__form__modal#active {
  @apply flex;
}
.modal__overlay {
  @apply w-[90%] max-w-[544px] mx-auto my-0;
}
.modal__wrapper {
  @apply w-full max-w-[544px] bg-[color:var(--color-white)] mx-auto my-0 p-6 rounded-[1.8rem];
}
.modal__wrapper h3 {
  @apply mt-4 mb-[2.2rem] mx-0;
  font-family: var(--ff-mont);
}
.tab__buttons {
  @apply w-full grid grid-cols-[1fr_1fr] gap-x-6 mx-0 my-8;
}
.tab__buttons button {
  @apply bg-transparent border-b-[color:var(--color-dark-shade)] font-semibold text-[length:var(--fs-s)] cursor-pointer px-[1.6rem] py-4 border-b-[3px] border-[none] border-solid;
  outline: none;
  font-family: var(--ff-poppins);
}
.tab__buttons button#active {
  @apply border-b-[color:var(--color-link)];
}
.basic__details,
.contact__details {
  @apply w-[95%] flex flex-col mx-auto my-0;
}
.label {
  @apply text-[length:var(--fs-s)] font-normal mx-0 my-2.5;
  font-family: var(--ff-poppins);
}
.input__field {
  @apply border border-[color:var(--color-dark-shade)] mt-0 mb-4 mx-0 p-3 rounded-lg border-solid;
  font-family: var(--ff-poppins);
}
.form__btn {
  @apply w-16 h-10 cursor-pointer self-end bg-[color:var(--color-link)] text-[color:var(--color-white)] mt-8 mb-0 mx-0 rounded-lg border-[none];
  outline: none;
  font-family: var(--ff-poppins);
}

@media screen and (max-width: 1024px) {
  .dashb__container {
    @apply gap-x-0 p-4;
  }
  .search__box {
    @apply relative;
  }
  .search__bar {
    @apply w-[58px] h-8 bg-[color:var(--color-white)] px-3 py-2.5 rounded-lg border-[none];
    outline: none;
  }
  .search__bar:focus.search__bar {
    @apply w-60 absolute left-[-190px] shadow-[rgba(0,0,0,0.35)_0px_5px_15px];
  }
  .search__bar:focus.search__box i {
    @apply right-[5px];
  }
  .search__box i {
    @apply bg-[white];
  }
  .menu__toggle {
    @apply block;
  }
  .sidebar__container {
    @apply absolute left-[-280px] transition-all duration-[0.3s] ease-[ease] z-[9];
  }
  .sidebar__container.active {
    @apply left-[-15px] shadow-[rgba(0,0,0,0.2)_0px_12px_28px_0px,rgba(0,0,0,0.1)_0px_2px_4px_0px,rgba(255,255,255,0.05)_0px_0px_0px_1px_inset];
  }

  .coins__card__container {
    @apply w-full gap-4 mx-0 my-10 p-2;
  }
  .card__wrapper {
    @apply w-[45%] max-w-[237px] h-44 px-4 py-[0.8rem] rounded-2xl border-[3px] border-solid border-[#e0e0e0];
  }
  .coin__img {
    @apply w-[31px] h-[31px] overflow-hidden rounded-[50%];
  }
  .price__status {
    @apply flex justify-between;
  }
  .price__status h3 {
    @apply text-[length:var(--fs-m)];
    font-family: var(--ff-lato);
  }
  .status__positive {
    @apply w-[47px] h-6 bg-[#e9f9eb] text-[#4AD15F] text-[length:var(--fs-xs)] text-center leading-6 rounded-[34px];
  }
  .status__negative {
    @apply w-[47px] h-6 text-[length:var(--fs-xs)] text-center leading-6 text-[#d14a4a] bg-[#f9e9eb] rounded-[34px];
  }
}

@media screen and (max-width: 420px) {
  .profile__links {
    @apply grid-cols-[1fr];
  }
}
