.signin__page__container {
  @apply w-full h-screen flex flex-col justify-between p-12;
  background: rgb(66, 133, 244);
  background: linear-gradient(
    100deg,
    rgba(66, 133, 244, 1) 45%,
    rgba(248, 250, 255, 1) 45%
  );
}
.logo {
  @apply text-[length:var(--fs-l)] font-bold text-[color:var(--color-white)];
  font-family: var(--ff-poppins);
}
.form__container {
  @apply w-full flex justify-around flex-wrap;
}
.board__logo {
  @apply text-[color:var(--color-white)] text-[length:var(--fs-vl)] leading-[var(--lh-vl)] font-bold mx-0 my-auto;
}

.socials__wrapper {
  @apply ml-[12vw];
}
.socials__links {
  @apply flex justify-self-center self-center gap-12;
}
.socials__links li a {
  @apply text-[color:var(--color-white)] text-[length:var(--fs-icons)];
}

.formgroup__container {
  @apply w-4/5 max-w-[400px] flex flex-col gap-[0.5rem_0rem];
}
.signin__with__buttons {
  @apply grid grid-cols-[1fr_1fr] gap-6 w-[96%] mx-0 my-4;
}
.btn__primary {
  @apply bg-[color:var(--color-white)] text-[length:var(--fs-xs)] text-[color:var(--text-light-dark)] font-extralight relative cursor-pointer pl-[3.2rem] pr-[5px] p-2.5 rounded-[1.2rem] border-[none] before:content-[''] before:w-5 before:h-5 before:absolute before:bg-[url(../assets/google.svg)] before:bg-center before:bg-cover before:left-3.5;
  outline: none;
  font-family: var(--ff-mont);
}
.siginin__apple::before {
  @apply bg-[url(../assets/apple.svg)];
}

.form__wrapper {
  @apply w-[96%] max-w-[422px] bg-[color:var(--color-white)] p-10 rounded-[1.2rem];
}
form {
  @apply flex flex-col;
}
label {
  @apply font-semibold text-[length:var(--fs-s)] mb-4;
  font-family: var(--ff-lato);
}
.input__bar {
  @apply bg-[color:var(--color-light-dark)] w-full h-[43px] leading-[19px] font-semibold mb-[1.4rem] px-4 py-3 rounded-[10px] border-[none] focus:bg-[color:var(--color-dark-shade)];
  outline: none;
}
.forgot__pass {
  @apply text-[length:var(--fs-s)] text-[color:var(--color-link)] mt-4 mb-8 mx-0;
  font-family: var(--ff-lato);
}
.signin__btn {
  @apply font-bold bg-[color:var(--color-blue)] text-[color:var(--color-white)] cursor-pointer px-3 py-2.5 rounded-[10px] border-[none];
  outline: none;
  font-family: var(--ff-mont);
}
.form__footer {
  @apply text-center text-[color:var(--text-light-dark)] font-normal mt-8;
  font-family: var(--ff-lato);
}
.form__footer a {
  @apply text-[color:var(--color-link)];
}

@media screen and (max-width: 880px) {
  .signin__page__container {
    @apply p-4;
    background: rgb(66, 133, 244);
    background: linear-gradient(
      137deg,
      rgba(66, 133, 244, 1) 100%,
      rgba(40, 109, 224, 1) 100%
    );
  }
  .form__container {
    @apply w-full h-4/5 flex flex-col justify-around items-center gap-y-8;
    flex-wrap: unset;
  }
  .board__logo {
    @apply m-[unset];
  }
  .socials__wrapper {
    @apply self-center ml-[unset];
  }
  .formgroup__container {
    @apply w-full;
  }
  .signin__with__buttons {
    @apply flex justify-center gap-4 w-[96%] mx-0 my-4;
  }
  .btn__primary {
    @apply w-full min-w-[46%] bg-[color:var(--color-white)] text-[length:var(--fs-xs)] text-[color:var(--text-light-dark)] font-light relative cursor-pointer pl-10 pr-[5px] p-2.5 rounded-[1.2rem] border-[none] before:content-[''] before:w-[18px] before:h-[18px] before:absolute before:left-2.5;
  }
  .form__wrapper {
    @apply w-full;
  }
  .form__footer {
    @apply text-[color:var(--color-white)];
  }
  .btn__primary {
    outline: none;
    font-family: var(--ff-mont);
  }
}
